<div id="sidebar" class="affix">
  <div id="countDown"> 
	<% if DateTime.current < DateTime.new(2013,11,2,12,0,0) %>
    <h3>Today is the last day to submit<br>your videos!</h3>
	<% elsif DateTime.current < DateTime.new(2013,11,4,5,0,0) %>
	<h3>Closed to entries. Voting begins November 4<sup>th</sup></h3>
	<% elsif DateTime.current < DateTime.new(2013,12,20,5,0,0) %>
	<h3><%= pluralize((Date.new(2013,12,21) - Date.today).to_i, "day") %> left to vote for your favorite videos!</h3>
	<% elsif DateTime.current < DateTime.new(2013,12,21,5,0,0) %>
	<h3><%= pluralize(((DateTime.new(2013,12,21,5,0,0) - DateTime.current)*24).to_i, "hour") %> left to vote for your favorite videos!</h3>
	<% elsif DateTime.current < DateTime.new(2013,12,21,4,0,0) %>
	<h3><%= pluralize(((DateTime.new(2013,12,21,5,0,0) - DateTime.current)*24*60).to_i, "minute") %> left to vote for your favorite videos!</h3>
	<% elsif DateTime.current > DateTime.new(2013,12,21,5,0,0)%>
	<h3>Voting is closed. Winners will be announced in January.</h3>
	<% end %>
  </div>
  <%= link_to "", "http://www.petsafe.net", class: "logo", target: "_blank" %>
  <div id="tallAd">
    <%= link_to image_tag("PetSafe_ShelterMe.jpg", width: "170", height: "475"), "http://www.petsafe.net", target: "_blank" %>
  </div>
</div>
<% if signed_in? and current_user.id == 0 %>
<div id="top" style="position:fixed;left:10px;bottom:120px;">top</div>
<div id="scroll" style="position:fixed;left:10px;bottom:100px;">scroll</div>
<div id="ieScroll" style="position:fixed;left:80px;bottom:100px;">ie scroll</div>
<div id="height" style="position:fixed;left:10px;bottom:80px;">height</div>
<div id="ieHeight" style="position:fixed;left:80px;bottom:80px;">ie height</div>
<% end %>