<%= provide(:title, 'FAQ') %>
<div id="mainContent">
	<div class="staticContent">
		<h3>Frequently Asked Questions</h3>
		<div class="staticEntry">
      <h2>May I enter more than one video in this contest?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Yes. You can enter as many videos as you would like. There are six categories to enter your videos:  Adopt, Volunteer, Donate, Spay/Neuter, Foster and Wildcard. Each category is very important to communicate to others on ways to help our shelter pets and local animal shelters. The Wildcard entry can be any topic related to shelter pets and shelters that doesn't match the other categories.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>How long can the videos be and do i need to use the clips, photos and music that you provide?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>The maximum length for a video entry is one minute. The minimum is 10 seconds. All entries need to include the 5-second PetSafe video at the end of the video. All of the assets can be found on the <%= link_to 'ADD VIDEO', addvideo_path %> page.</p>
				<p>You can use the video clips, photos, music and graphics that we provide or you can combine it with your material or you can submit videos with just your own original material. Please do not upload any copyrighted material. If you are using your own material, you must own or have the rights to submit it.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>What's the schedule for submitting and voting for videos?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>You can start creating and uploading your videos right now all the way through October 15, 2013. The voting begins on October 16. </p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>Who can submit videos?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Anyone 18 years old or older and living in the United States. Employees of Radio Systems Corporation / PetSafe and Shelter Me may not enter.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>How are the winning videos chosen?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>When the voting period begins on October 16, the videos will be ranked by the number of views, their rating and how many times they were shared. The 10 most popular videos at the end of the voting period will be reviewed by the Shelter Me judging panel. They will select the top 3 videos that most effectively communicate and advocate for shelter pets and / or animal shelters.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>What do the winners receive?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>The prize for first place is $3000. The winner will get half that and then choose a public municipal animal shelter to receive the other half. Second prize is $2000 and third prize is $1000. Half of those prizes will go to the winner and the other half will go to the public shelter of their choice.</p>
        <p>We define animal shelters for this contest as municipal animal control agencies, run by city or county governments and private, non-profit agencies with a government contract to provide animal control services.</p>
				<p>The first place video will also be shown on a national television program.</p>
				<p>Prizes are provided by <%= link_to "Ady Gil World Conservation (AGWC)", "http://agwc501.org/", target: "_blank" %>.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>What are the categories for the videos?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Adopt, Volunteer, Donate, Spay/Neuter, Foster and Wildcard. </p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>Do you have any suggestions on creating videos?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Creating these videos is an opportunity to use your creativity to help our shelter pets and animal shelters. We want to see and hear how you will motivate people to get involved and help these incredible pets. You can use voiceover or text on the screen. You can use just video or do a photo montage. You can tell us about your own shelter pet and what your dog or cat means to you. These videos can be serious, funny, quirky...anything you'd like. Have fun with this contest. Pets are part of our families. They bring so much joy to our lives. Let your videos help communicate your emotions and motivate people to get involved.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>What editing software should I use?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>There are lots of editing software that people are using. You can use any that you are most familiar with. A lot of people are using iMovie, Final Cut Pro, Adobe Premiere, Avid and others.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>May I use my own videos, photos or music or do I have to use what's on this site?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Yes. You can use the material that we provide or combine it with your material or you can use your own videos, photos and music.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>What format are the downloadable video files?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>The downloadable video clips are broadcast quality 720p H.264 Quicktime files.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>When will my video show up on the site after I upload it?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Your videos will show up on the <%= link_to "WATCH VIDEOS", watch_path %> page within 48 hours after being submitted. We review all videos before they go live on the site to ensure the submittals meet all the requirements.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry">
      <h2>Where can I get more information about training my pet?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>Being a responsible pet owner begins with the proper training.  You can find lots of great information at <%= link_to "http://www.trainmypet.net/", "http://www.trainmypet.net/" %>.</p>
      </div>
      <div class="clearfix"></div>
    </div>
		<div class="staticEntry" style="border-bottom:none;">
      <h2>What do you hope to accomplish with this contest?</h2>
      <div class="staticBlurb">
        <span class="answer">A</span>
        <p>We want to find new ways to communicate the issues that will improve the lives of shelter pets. We believe in the power of our community to effectively create these messages. You are the ones with the great ideas. We want to listen and give you a platform to advocate for shelter pets and local animal shelters. To improve the lives of shelter pets, we need to reach lots of people with new and fresh ideas. </p>
      </div>
      <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>