<div id="videoSubject"></div>
<div id="camera"></div>
<div class="container contentBox">
	<div id="petsafe">
		<%= link_to "", "http://www.petsafe.net", target: "_blank" %>
	</div>
	<div id="helpGive"></div>
	<div class="clearfix"></div>
	<div id="presents"></div>
	<div id="bottom">
		<div id="create"></div>
		<div id="buttons">
			<ul>
				<li><%= image_tag("learnMoreIcon.png", class: "listIcon") %><%= image_tag("learnMore.png") %></li>
			  <li><%= image_tag("signInIcon.png", class: "listIcon") %><%= image_tag("signIn.png") %></li>
				<li><%= image_tag("signInIcon.png", class: "listIcon") %><%= image_tag("signUp.png") %></li>
			</ul>
		</div>
	</div>
</div>