<%= provide(:title, 'Statistics') %>
<div class="adminContent">
	<div class="profile-section">
		<div class="pageHeader">
			<div class="headerInfo">
		    <h1>Statistics</h1><br>
        <p><%= Time.now.strftime("%I:%M %p on %b %d, %Y") %></p>
		  </div>	
		</div>
	  <div class="row">
		  <div class="span12 adminView">
			  <div class="adminColumn">
			  	<h2>Previous Week<span style="font-size:12px;color:#999;float:right;line-height:35px;">(through yesterday)</span></h2>
			    <ul>
			    	<li>
				      <h3>
				        <%= pluralize(@new_videos_count, "Video") %> added
				        <span class="sparklines"><%= @new_videos %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@new_users_count, "User") %> joined 
				        <span class="sparklines"><%= @new_users %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@new_plays_count, "Video") %> played 
				        <span class="sparklines"><%= @new_plays %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@new_shares_count, "Video") %> shared 
				        <span class="sparklines"><%= @new_shares %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@new_facebook_shares_count, "Facebook share") %> 
				        <span class="sparklines"><%= @new_facebook_shares %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@new_twitter_shares_count, "Twitter share") %> 
				        <span class="sparklines"><%= @new_twitter_shares %></span>
				      </h3>
				    </li>
			    </ul>
			  </div>
			  <div class="adminColumn" style="margin-right:0;">
			  	<h2>To Date<span style="font-size:12px;color:#999;float:right;line-height:35px;">(by week, including most recent)</span></h2>
			    <ul>
			    	<li>
			        <h3>
			          <%= pluralize(@all_videos_count, "Video") %> added 
			          <span class="sparklines"><%= @all_videos %></span>
			        </h3>
			      </li>
				    <li>
					    <h3>
					      <%= pluralize(@all_users_count, "User") %> joined 
					      <span class="sparklines"><%= @all_users %></span>
					    </h3>
					  </li>
				    <li>
					    <h3>
					      <%= pluralize(@all_plays_count, "Video") %> played 
					      <span class="sparklines"><%= @all_plays %></span>
					    </h3>
					  </li>
			    	<li>
				      <h3>
				        <%= pluralize(@all_shares_count, "Video") %> shared 
				        <span class="sparklines"><%= @all_shares %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@all_facebook_shares_count, "Facebook share") %> 
				        <span class="sparklines"><%= @all_facebook_shares %></span>
				      </h3>
				    </li>
			    	<li>
				      <h3>
				        <%= pluralize(@all_twitter_shares_count, "Twitter share") %> 
				        <span class="sparklines"><%= @all_twitter_shares %></span>
				      </h3>
				    </li>
			    </ul>
			  </div>
		  </div>
	  </div>
	</div>
</div>
<div class="clearfix"></div>