<% provide(:title, 'Contact') %>
<div id="mainContent">
  <div class="staticContent">
    <h3>Contact Us</h3>
    <div class="staticEntry">
      <div class="staticBlurb">
        <p>If you have questions about the contest or how to do something on the site, please visit our <%= link_to "FAQ page", faq_path %>.</p>
        <p>We would love to hear from you with any feedback or comments you may have.</p>
        <br>
				<%= simple_form_for(@message, html: { class: 'form-horizontal' }) do |f| %>
				  <%= render 'shared/error_messages', object: f.object %>
				  <%= f.input :name %>
				  <%= f.input :email %>
				  <%= f.hidden_field :checker %>
				  <%= f.input :content, as: :text %>
					<div class="clearfix"></div>
				  <%= f.button :submit, "Send Message", class: "formBtn", style: "width:145px;" %>
				<% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
