<div class="tab-pane active" id="dogClips">
  <div class="videoClip">
    <%= image_tag("tempVideoClip.png", width: "170", height: "96")%>
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>         	
  </div>
  <div class="videoClip">
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>
  </div>
  <div class="videoClip">
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>        	
  </div>
  <div class="videoClip">
    <%= link_to "Preview", "#", class: "previewLink" %>
    <%= link_to "Download", "#", class: "downloadLink" %>        	
  </div>
</div>