<div class="tab-pane" id="familyClips">
	<div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>        	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>        	
  </div>
	<div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>       	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>        	
  </div>
  <div class="videoClip">
    <%= link_to "preview", "#", class: "previewLink" %>
    <%= link_to "download", "#", class: "downloadLink" %>        	
  </div>
</div>