<div class="tab-pane active" id="tvshowNav">
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1360.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1360.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1635.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1635.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1644.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/IMG_1644.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset" style="height:130px;">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/Blade_Bravo.jpg", width: "170", height: "130")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/Blade_Bravo.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/Hospital.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/Hospital.zip", class: "downloadLink" %>
	</div>	
	<div class="photoAsset" style="height:106px;">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/guard-tattoo-and-dog.jpg", width: "170", height: "106")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/guard-tattoo-and-dog.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset" style="height:95px;">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/park.jpg", width: "170", height: "95")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/park.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset" style="height:135px;">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/shelterme_sdf.jpg", width: "170", height: "135")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/shelterme_sdf.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset" style="height:95px;">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/sunset.jpg", width: "170", height: "95")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/sunset.zip", class: "downloadLink" %>
	</div>		
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-3.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-3.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-16.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-16.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-27.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-27.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-33.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-33.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-37.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-37.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-38.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-38.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-49.jpg", width: "75", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-49.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-50.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-50.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-57.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-57.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-60.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-60.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-67.jpg", width: "75", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-67.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-71.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-71.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-73.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-73.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-79.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-79.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-80.jpg", width: "75", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-80.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-83.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-83.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-84.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-84.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-85.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-85.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-91.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-91.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-100.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/tvshow/ShelterMe-100.zip", class: "downloadLink" %>
	</div>
</div>