<div class="tab-pane" id="websiteDogNav">
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367381013/go6i1uecrr8rqsco53yp.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367381013/go6i1uecrr8rqsco53yp.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367216414/uay99hcztyfzexehkydh.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367216414/uay99hcztyfzexehkydh.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367216332/b2tldjct6zsoqbafcwfw.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367216332/b2tldjct6zsoqbafcwfw.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367717295/rzd3f7h0d7wbig2awvoo.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367717295/rzd3f7h0d7wbig2awvoo.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367717904/wqlctksiaynt0wqwdkyf.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367717904/wqlctksiaynt0wqwdkyf.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367777227/jyrbsisc0mgwtdkchisj.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367777227/jyrbsisc0mgwtdkchisj.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367810801/ym0y0l8asrrol3mzfa0m.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367810801/ym0y0l8asrrol3mzfa0m.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367803479/zwge41e5f6omd0mmoicc.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367803479/zwge41e5f6omd0mmoicc.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367801858/cr9my6pq7yasx62zgh1y.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367801858/cr9my6pq7yasx62zgh1y.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367801712/e7coiva8ajsbaeezwh9m.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367801712/e7coiva8ajsbaeezwh9m.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367875057/e3axdafjm50dwwc9xpex.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367875057/e3axdafjm50dwwc9xpex.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367989077/jwdbtobiqunuaewvnw2z.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367989077/jwdbtobiqunuaewvnw2z.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368129246/olpdofro4syartlvglln.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368129246/olpdofro4syartlvglln.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368077562/py1ifxjpbzvjp28naixn.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368077562/py1ifxjpbzvjp28naixn.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368231940/et2aathpgpto5kiokvsa.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368231940/et2aathpgpto5kiokvsa.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368130967/opwfmh0k6l5iqanz3hg1.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368130967/opwfmh0k6l5iqanz3hg1.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368232113/rtt02kueynflqnpifroz.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368232113/rtt02kueynflqnpifroz.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368245395/nnhzgxovoyo2no7rq1ns.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368245395/nnhzgxovoyo2no7rq1ns.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368250151/kqlmmgeqnkoimx48nflx.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368250151/kqlmmgeqnkoimx48nflx.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368336891/jtfod6dnlenx1fnwncwi.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368336891/jtfod6dnlenx1fnwncwi.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368331978/fhseeldp1fj2h1eweley.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368331978/fhseeldp1fj2h1eweley.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368336978/vgqgkzi6scgmbqd7fcmj.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368336978/vgqgkzi6scgmbqd7fcmj.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368331936/it9hbsko0dgfci5nisxv.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368331936/it9hbsko0dgfci5nisxv.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368341192/p9skuog6s5fdjwarwjiy.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368341192/p9skuog6s5fdjwarwjiy.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368400146/p99aswww4ucjqjbgzmzd.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368400146/p99aswww4ucjqjbgzmzd.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368422357/fphgomczvtamyyjjsnre.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368422357/fphgomczvtamyyjjsnre.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368422051/zxvm7rptcjscucimh06n.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368422051/zxvm7rptcjscucimh06n.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368468890/pyksrxpv6smbcnwvoihc.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368468890/pyksrxpv6smbcnwvoihc.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368675713/inzmp3aog9amqeosgu7w.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368675713/inzmp3aog9amqeosgu7w.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368715941/rtswvgnypljtumman082.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368715941/rtswvgnypljtumman082.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368772331/kavjcpq4jgkp2hwq6dcm.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368772331/kavjcpq4jgkp2hwq6dcm.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368831839/ogbccustzjudfhls7vqb.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368831839/ogbccustzjudfhls7vqb.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368833450/f6xisvngxfz3eme1bmhg.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368833450/f6xisvngxfz3eme1bmhg.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368838432/prfylbl6wityglgskwia.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368838432/prfylbl6wityglgskwia.jpg" class="downloadLink">download</a>
	</div>
</div>