<div class="tab-pane" id="websiteCatNav">
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1367766789/b7magiig8aobzn98s6ry.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1367766789/b7magiig8aobzn98s6ry.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368055603/c9di4muotokl8r6tohvw.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368055603/c9di4muotokl8r6tohvw.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368055205/rktmo3gngvnc64aozqt6.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368055205/rktmo3gngvnc64aozqt6.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368055611/msjrd5arkznwho79slnp.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368055611/msjrd5arkznwho79slnp.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368380135/dxffsp4jxvohnlc5efbc.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368380135/dxffsp4jxvohnlc5efbc.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368380934/qxznbdspgoamr9oqztls.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368380934/qxznbdspgoamr9oqztls.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368413552/xxn8oj6j3weqswmt5fc8.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368413552/xxn8oj6j3weqswmt5fc8.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368417158/wdt12vmwrb2hwdscb80b.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368417158/wdt12vmwrb2hwdscb80b.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368506132/gscv7rskyl8dcxhllod4.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368506132/gscv7rskyl8dcxhllod4.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368745115/a4vt0dv15vmkmeo2ehil.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368745115/a4vt0dv15vmkmeo2ehil.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1368742183/bzw6ydfup0vklca798hi.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1368742183/bzw6ydfup0vklca798hi.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374178852/ectppozjt0nl2pubqn4c.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374178852/ectppozjt0nl2pubqn4c.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374182666/hwwz0acyncmxjanubybg.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374182666/hwwz0acyncmxjanubybg.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374180300/hdjrso0ocrjeyfrufy6h.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374180300/hdjrso0ocrjeyfrufy6h.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374185721/jmfgbv37rr1a0byaoly7.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374185721/jmfgbv37rr1a0byaoly7.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374523925/aimgchasb2refa30unny.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374523925/aimgchasb2refa30unny.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374285735/pnz4q248cj8ry6f7ygc0.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374285735/pnz4q248cj8ry6f7ygc0.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374683222/fejtij8xdffanajrb2qv.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374683222/fejtij8xdffanajrb2qv.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374868175/ev6gzdyllt56nul2rau1.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374868175/ev6gzdyllt56nul2rau1.jpg" class="downloadLink">download</a>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://res.cloudinary.com/hydrtfmgb/image/upload/t_contest_thumb/v1374452548/tui0elufwm9jd9ug4dfu.jpg", width: "170", height: "113")%>
	  <a download href="http://res.cloudinary.com/hydrtfmgb/image/upload/v1374452548/tui0elufwm9jd9ug4dfu.jpg" class="downloadLink">download</a>
	</div>	
</div>