<div class="tab-pane" id="graphicsNav">
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/graphics/shelterme_logo.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/graphics/shelterme_logo.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/graphics/LocatorBarUpperLeft.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/graphics/LocatorBarUpperLeft.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/graphics/Lower3rd_Bar_left.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/graphics/Lower3rd_Bar_left.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/graphics/Lower3rd_Bar_right.jpg", width: "170", height: "113")%>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/graphics/Lower3rd_Bar_right.zip", class: "downloadLink" %>
	</div>
	<div class="photoAsset">
    <p style="padding:15px 10px 0;">Please the entire logo as is - do not crop, recolor or distort it.</p>
	</div>	
	<div class="photoAsset">
    <p style="padding:15px 10px 0;">Layer a bar on the upper left third bar of your video.</p>
	</div>
	<div class="photoAsset">
    <p style="padding:15px 10px 0;">Layer a branded bar on the lower left third of your video.</p>
	</div>
	<div class="photoAsset">
    <p style="padding:15px 10px 0;">Layer a branded bar on the lower right third of your video.</p>
	</div>
	<div class="disclaimer">
		<p>All videos, photos and graphics are owned by Steven Latham Productions.  By downloading the material, you agree to only use it only for the Shelter Me Video Contest, and to only upload it to this website. Any other use of the video, photos and graphics is prohibited and requires explicit permission. You can request permission via our <%= link_to "contact form", contact_path %>.</p>
	</div>
</div>