<div id="instructions" class="staticContent">
  <p>The judges have completed their deliberations and the winning videos have been determined. Congratulations to the winners!</p>
  <ul>
	  <li>First place: <%= link_to "Saving lives, one photo at a time", "http://contest.shelterme.com/videos/108" %> by <%= link_to "Sherry Stinson", "http://contest.shelterme.com/users/SherryStinson" %></li>
	  <li>Second place: <%= link_to "Be Happy Together", "http://contest.shelterme.com/videos/253" %> by <%= link_to "Tony Zeng", "http://contest.shelterme.com/users/TonyZeng" %></li>
	  <li>Third place: <%= link_to "Behind the Bars", "http://contest.shelterme.com/videos/187" %> by <%= link_to "Janet Litton", "http://contest.shelterme.com/users/JanetLitton" %></li>
  </ul>
  <p>There were so many great videos submitted and we truly appreciate the effort and thought that went into creating all of them. Thank you to everyone who entered the contest. And thank you for helping to raise awareness about shelter animals.</p>
</div>
<div class="clearfix"></div>