<div id="addVideo" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-inner mediaModal">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("videoIcon.png", alt: "Add Video", width: "65", height: "65") %>
        <p></p>
      </div>
      <div class="headerInfo" style="width:450px;">
        <h1>Upload Your Video</h1><br>
      </div>
	    <button class="close" data-dismiss="modal">&times;</button>
	    <ul id="categories" style="display:none;margin:0;">
	    	<li class="active adoptPill" style="position:absolute;right:50px;top:10px;"></li>
	    </ul>
    </div>
    <div class="form">
      <div class="handhold" style="display:none;text-align:center;margin-bottom:20px;">
        This page will refresh once your upload is complete.<br> Do not close the browser window.
      </div>
			<div class="intro">
	       <span style="margin-right:20px;margin-left:4px;">Did you include the required PetSafe clip?</span>
	       <div id="clip" class="btn-group btn-graphic" data-toggle="buttons-radio">
					  <button class="btn" value="No">No</button>
					  <button class="btn" value="Yes">Yes</button>
			   </div><br><br>
			   <span style="margin-right:20px;">Is your video between 15 and 60 seconds?</span>
	       <div id="length" class="btn-group btn-graphic" data-toggle="buttons-radio">
					  <button class="btn" value="No">No</button>
					  <button class="btn" value="Yes">Yes</button>
			   </div><br><br><br>
			   <div class="center">
			     All uploaded videos are subject to the <%= link_to "contest rules", rules_path %>.
			   </div>
       </div>
      <%= simple_form_for @video, html: {class: 'form-horizontal', style: 'display:none;margin-bottom:20px;' } do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.hidden_field :user_id, value: current_user.id %>
       <%= f.input :title, label: "Video Title" %>
       <div id="category" class="btn-group btn-graphic btn-add-video" data-toggle="buttons-radio" data-toggle-name="video[category_id]">
         <button type="button" data-toggle="button" class="btn" value="1">Adopt</button>
         <button type="button" data-toggle="button" class="btn" value="2">Volunteer</button>
         <button type="button" data-toggle="button" class="btn" value="3">Donate</button>
         <button type="button" data-toggle="button" class="btn" value="4" style="width:90px">Spay/Neuter</button>
         <button type="button" data-toggle="button" class="btn" value="5">Foster</button>
         <button type="button" data-toggle="button" class="btn" value="6">Wildcard</button>
       </div>
       <%= f.hidden_field :category_id, label: false %>			
       <div id="file-drop" class="row filedrop" style="border:none;display:none;">
			  <span class="btn formBtn fileinput-button" style="width:145px;margin-left:-5px;">
	        <span>Choose Video</span>
	        <input type="hidden" name="video[panda_video_id]" id="returned_video_id" />
	       </span>
         <%= f.button :submit, "Upload", class: "formBtn" %>
       </div>
     <% end %>
     <div id="upload_progress" class="panda_upload_progress"></div>
    </div>
  </div>
</div>

<script>

<% auth_params = Panda.signed_params('post', "/videos.json") %>
jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
  upload_progress_id: 'upload_progress'
});

$(function(){
	
	// Show selected video name
	$('input[type=file]').change(function(){
		var new_label = escape($('input[type=file]').val()).replace('C%3A%5Cfakepath%5C','');
		$('.mediaModal .headerInfo p').text(new_label);			
		$('#new_video :submit').click();
	});
  
  // Hide extra video elements during upload
  $('#file-drop :submit').click(function(){
    $('.form p, .control-group, #file-drop, #category, button.close').hide();
    $('.handhold').show();
  });
  
  // Reformat progress indicator
  $('#upload_progress').css({'width':'100%','margin-bottom':'15px','margin-top':'6px'});
	
	// Connect graphic buttons with hidden input elements
	$('div.btn-group[data-toggle-name]').each(function(){
	  var group   = $(this);
	  var form    = group.parents('form').eq(0);
	  var name    = group.attr('data-toggle-name');
	  var hidden  = $('input[name="' + name + '"]', form);
	  var current_value;
	  $('button', group).each(function(){
	    var button = $(this);
	    button.on('click', function(){
	      current_value = hidden.val();
				hidden.val($(this).val());
				
				// Show elements on video upload modal
				show_category($(this).val());
				if ( $('#file-drop').length && $('#video_title').val().length ) {
					$('.intro').hide();
					$('#file-drop').show();
				};
				
	    });
	    if(button.val() == hidden.val()) {
	      // Set clicked button to active
	      button.addClass('active');
	    };
	  });
	});
	
	$('#video_title').keypress(function(){
		if ( $('#category button.active').length ) {
			$('.intro').hide();
			$('#file-drop').show();
		};
	});
	
	// Show video submission form if video qualifies
	$('.intro button').on('click', function(){
		if ( ($('#clip button.active').val() == 'Yes' || $('#length button.active').val() == 'Yes') && $(this).val() == 'Yes' ) {
			$('.intro').hide();
			$('#new_video').show();
		};
	});
	
	// Close dialog with ESC
	$(document).keyup(function(e) {
		var keycode = (e.keyCode ? e.keyCode : e.which);	// capture keycode for Firefox
		if ( $('#addVideo').length && keycode == 27 ) {
			$('.close').click();
		};
	});
	
	function show_category(category) {
		$('#categories').show();
		switch(category) {
      case "1":
        var icon = "adopt";
        break;
      case "2":
        var icon = "volunteer";
        break;
      case "3":
        var icon = "donate";
        break;
      case "4":
        var icon = "spayNeuter";
        break;
      case "5":
        var icon = "foster";
        break;
      case "6":
        var icon = "wildcard";
        break;
    };
		$('#categories li:first').removeClass().addClass(icon + "Pill").addClass("active");
	};

});
</script>