<div id="vote">
  <% if signed_in? %>
  <div class="vote"></div>
  <div <%='id=active' unless @vote_check %>>
  <%= link_to "", "#", class: "star-rating #{'star-rating-set' if @vote_check }", title: "Dislike", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating #{'star-rating-set' if @vote_check && (@vote_check.value >= 2)}",  title: "Fair", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating #{'star-rating-set' if @vote_check && (@vote_check.value >= 3)}",  title: "Like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating #{'star-rating-set' if @vote_check && (@vote_check.value >= 4)}",  title: "Really like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating #{'star-rating-set' if @vote_check && (@vote_check.value >= 5)}",  title: "Love", rel: "tooltip" %>
  </div>
  <%= form_for(current_user.votes.build(video_id: @video.id), remote: true) do |f| %>
    <div><%= f.hidden_field :video_id %></div>
    <div><%= f.number_field :value %></div>
    <%= f.submit "Vote", class: "btn btn-header btn-follow hidden" %>
  <% end %>
  <% else %>
  <div id="inactive">
    <p>Please <%= link_to "register", register_path %> to vote.</p>
  </div>
  <% end %>
</div>
<% if signed_in? %>
<div id="vote_feedback">
	<% if @vote_check %>
	You may vote for this video again in <%= distance_of_time_in_words(DateTime.current,@vote_check.created_at.to_datetime + 1.day) %>.
	<% end %>
</div>
<% end %>