<div id="videoClipsNav" class="tab-pane active">
	<div class="tabbable">
	  <ul class="nav nav-pills">
	    <li class="active"><a href="#requiredClips" data-toggle="tab">Required</a></li>
	    <li class=""><a href="#dogClips" data-toggle="tab">Dogs</a></li>
	    <li class=""><a href="#catClips" data-toggle="tab">Cats</a></li>
	    <li class=""><a href="#goingHomeClips" data-toggle="tab">Going Home</a></li>
	    <li class=""><a href="#peopleClips" data-toggle="tab">People</a></li>
	    <li class=""><a href="#miscClips" data-toggle="tab">Miscellaneous</a></li>
	  </ul>
	  <div class="tab-content" style="border-bottom:none;">
	    <%= render 'assets/video_clips/required' %>
	    <%= render 'assets/video_clips/dogs' %>
	    <%= render 'assets/video_clips/cats' %>
	    <%= render 'assets/video_clips/goingHome' %>
	    <%= render 'assets/video_clips/people' %>	
	    <%= render 'assets/video_clips/misc' %>	
	  </div>
	</div>
	<div class="disclaimer">
		<p>All videos, photos and graphics are owned by Steven Latham Productions.  By downloading the material, you agree to only use it only for the Shelter Me Video Contest, and to only upload it to this website. Any other use of the video, photos and graphics is prohibited and requires explicit permission. You can request permission via our <%= link_to "contact form", contact_path %>.</p>
	</div>
</div>