<div id="vote">
  <% if signed_in? %>
  <div class="vote"></div>
  <div id="active">
  <%= link_to "", "#", class: "star-rating", title: "Dislike", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Fair", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Really like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Love", rel: "tooltip" %>
  <%= form_for(current_user.votes.build(video_id: ''), remote: true) do |f| %>
    <div><%= f.hidden_field :video_id %></div>
    <div><%= f.number_field :value %></div>
    <%= f.submit "Vote", class: "btn btn-header btn-follow hidden" %>
  <% end %>
  </div>
  <% else %>
  <div id="inactive">
	  <p>Please <%= link_to "register", register_path %> to vote.</p>
  </div>
  <% end %>
</div>
<% if signed_in? %>
<div id="vote_feedback"></div>
<% end %>