<div id="vote">
  <div class="vote"></div>
  <% if signed_in? %>
  <div id="active">
  <%= link_to "", "#", class: "star-rating", title: "Dislike", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Fair", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Really like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Love", rel: "tooltip" %>
  <%= form_for(current_user.votes.build(video_id: ''), remote: true) do |f| %>
    <div><%= f.hidden_field :video_id %></div>
    <div><%= f.number_field :value %></div>
    <%= f.submit "Vote", class: "btn btn-header btn-follow hidden" %>
  <% end %>
  </div>
  <% else %>
  <div id="inactive">
  <%= link_to "", "#", class: "star-rating", title: "Dislike", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Fair", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Really like", rel: "tooltip" %>
  <%= link_to "", "#", class: "star-rating", title: "Love", rel: "tooltip" %>
  </div>
  <% end %>
</div>
<div id="vote_details">
  <% if signed_in? %>
  <ul>
	  <li>Dislike</li>
	  <li>Fair</li>
	  <li>Like</li>
	  <li>Really Like</li>
	  <li>Love</li>
  </ul>
  <% else %>
    <p>Please <%= link_to "register", register_path %> to vote.</p>
  <% end %>
</div>
<% if signed_in? %>
<div id="vote_feedback"></div>
<% end %>