<div id="vote">
  <div class="vote"></div>
  <% if signed_in? %>
  <%= link_to "", "#", class: "star-rating",  title: "Dislike" %>
  <%= link_to "", "#", class: "star-rating",  title: "Fair" %>
  <%= link_to "", "#", class: "star-rating",  title: "Like" %>
  <%= link_to "", "#", class: "star-rating",  title: "Really like" %>
  <%= link_to "", "#", class: "star-rating",  title: "Love" %>
  <%= form_for(current_user.votes.build(video_id: ''), remote: true) do |f| %>
    <div><%= f.hidden_field :video_id %></div>
    <div><%= f.number_field :value %></div>
    <%= f.submit "Vote", class: "btn btn-header btn-follow hidden" %>
  <% end %>
  <% else %>
  <p style="font-size:12px;text-align:center;font-weight:bold;">Please <%= link_to "register", register_path %> to vote.</p>
  <% end %>
</div>
<!-- <div id="vote_details">
	<p>You may only vote for a video once per day.</p>
</div> -->
