<div id="vote">
  <div class="vote"></div>
  <%= link_to "", "#", class: "star-rating",  title: "Hate" %>
  <%= link_to "", "#", class: "star-rating",  title: "Don't Like" %>
  <%= link_to "", "#", class: "star-rating",  title: "Like" %>
  <%= link_to "", "#", class: "star-rating",  title: "Really like" %>
  <%= link_to "", "#", class: "star-rating",  title: "Love" %>
  <%= form_for(current_user.votes.build(video_id: ''), remote: true) do |f| %>
    <div><%= f.hidden_field :video_id %></div>
    <div><%= f.number_field :value %></div>
    <%= f.submit "Vote", class: "btn btn-header btn-follow hidden" %>
  <% end %>
</div>
<!-- <div id="vote_details">
	<p>You may only vote for a video once per day.</p>
</div> -->
