<%= provide(:title, 'Watch Best Rated') %>
<div id="mainContent">
  <%= render 'instructions'%>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="winnersPill"><a href="#winners"></a></li-->
       <li class="allVideosPill">
  		 <%= link_to "", watch_path %>
       </li>
       <li class="bestRatedPill active">
         <a href="#" onclick="return false;"></a>
       </li>
       <li class="mostVotesPill">
  		 <%= link_to "", votes_path %>
       </li>
       <li class="mostPlaysPill">
  		 <%= link_to "", views_path %>
       </li>
       <li class="mostSharesPill">
  		 <%= link_to "", shares_path %>
       </li>
       <li class="searchVideosPill">
  		 <%= link_to "", search_path %>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="bestRated">
		 <p>Ratings are determined from the views, shares &amp; votes a video receives. For details, see the <%= link_to "official rules", "/rules#semifinalists" %>.</p>
         <% if @rated_videos_count > 0 %>
         <%= render partial: 'shared/video_tile', collection: @rated_videos, as: :f %>
         <div class="clearfix"></div>
         <%= will_paginate @rated_videos, param_name: 'rated_videos' %>
         <% else %>
         Ratings are coming soon!
         <% end %>
       </div>
   </div>
</div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>