<%= provide(:title, 'Watch Most Shares') %>
<div id="mainContent">
  <%= render 'instructions'%>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="winnersPill"><a href="#winners"></a></li-->
       <li class="allVideosPill">
  		 <%= link_to "", watch_path %>
       </li>
       <li class="bestRatedPill">
		 <%= link_to "", rated_path %>
       </li>
       <li class="mostVotesPill">
  		 <%= link_to "", votes_path %>
       </li>
       <li class="mostPlaysPill">
		 <%= link_to "", views_path %>
       </li>
       <li class="mostSharesPill active">
         <a href="#" onclick="return false;"></a>
       </li>
       <li class="searchVideosPill">
		 <%= link_to "", search_path %>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="mostShares">  
         <% if @shared_videos_count > 0 %>
         <%= render partial: 'shared/video_tile', collection: @shared_videos, as: :f %>
         <div class="clearfix"></div>
         <%= will_paginate @shared_videos, param_name: 'shared_videos' %>
         <% else %>
         No videos have been shared yet.<br><br>
     All activity from before the start of the voting period has been removed.
         <% end %>
       </div>
     </div>
   </div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>