<%= provide(:title, 'Watch Most Votes') %>
<div id="mainContent">
  <%= render 'instructions'%>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="winnersPill"><a href="#winners"></a></li-->
       <li class="allVideosPill">
  		 <%= link_to "", watch_path %>
       </li>
       <li class="bestRatedPill">
		 <%= link_to "", rated_path %>
       </li>
       <li class="mostVotesPill active">
         <a href="#" onclick="return false;">
         	<span class="count"><%= @voted_videos_count > 0 ? @voted_videos_count : '' %></span>
         </a>
       </li>
       <li class="mostPlaysPill">
		 <%= link_to "", views_path %>
       </li>
       <li class="mostSharesPill">
		 <%= link_to "", shares_path %>
       </li>
       <li class="searchVideosPill">
		 <%= link_to "", search_path %>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="mostVotes">
         <% if @voted_videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @voted_videos, as: :f %>
         <div class="clearfix"></div>
         <%= will_paginate @voted_videos, param_name: 'voted_videos' %>
         <% else %>
         No videos have votes yet.
         <% end %>
       </div>
     </div>
   </div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>