<%= provide(:title, 'Watch') %>
<div id="mainContent">
  <div class="staticContent">
    <div class="votingControls"><% link_to "", "/videos/234" %></div>
    <p>Promote your favorite videos and help their creators win a prize by watching, sharing and voting for them. Mouse over a video to access controls for sharing and voting (see right). The top rated videos as <%= link_to "determined by views, shares and votes", "/rules#semifinalists" %> will be eligible to win a prize.</p>
	<p>You do not need to create an account to watch or share a video, but you must be 
		<% if signed_in? %>
		signed in
		<% else %>
		<%= link_to "signed in", signin_path %> 
		<% end %>
		to vote for a video. You may vote for a video once every 24 hours.</p>
	<p>Views and shares were reset to ensure fairness during the voting period. Good luck!</p>
  </div>
  <div class="clearfix"></div>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="winnersPill"><a href="#winners" data-toggle="tab"></a></li-->
       <li class="allVideosPill active">
         <a href="#all" data-toggle="tab">
           <span class="count"><%= @videos_count > 0 ? @videos_count : '' %></span>
         </a>
       </li>
       <li class="bestRatedPill">
         <a href="#bestRated" data-toggle="tab"></a>
       </li>
       <li class="mostVotesPill">
         <a href="#mostVotes" data-toggle="tab"></a>
       </li>
       <li class="mostPlaysPill">
         <a href="#mostPlays" data-toggle="tab"></a>
       </li>
       <li class="mostSharesPill">
         <a href="#mostShares" data-toggle="tab"></a>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane" id="bestRated">
         <% if @rated_videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @rated_videos, as: :f %>
         <div class="clearfix"></div>
         <% else %>
         No videos have been rated yet.<br><br> Once enough videos have been viewed, shared and have received votes during the voting period, ratings will be displayed.
         <% end %>
       </div>
       <div class="tab-pane" id="mostVotes">
         <% if @voted_videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @voted_videos, as: :f %>
         <div class="clearfix"></div>
         <% else %>
         No videos have votes yet.
         <% end %>
       </div>
       <div class="tab-pane" id="mostPlays">
         <% if @played_videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @played_videos.sort! { |a,b| b.plays_count <=> a.plays_count }, as: :f %>
         <div class="clearfix"></div>
         <% else %>
         No videos have been viewed yet.<br><br>
     All activity from before the start of the voting period has been removed. 
         <% end %>
       </div>
       <div class="tab-pane" id="mostShares">  
         <% if @shared_videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @shared_videos, as: :f %>
         <div class="clearfix"></div>
         <% else %>
         No videos have been shared yet.<br><br>
     All activity from before the start of the voting period has been removed.
         <% end %>
       </div>
       <div class="tab-pane active" id="all">
         <% if @videos.size > 0 %>
         <%= render partial: 'shared/video_tile', collection: @videos, as: :f %>
         <div class="clearfix"></div>
         <%= will_paginate @videos, param_name: 'all_videos' %>
         <% else %>
         No videos have been approved yet.
         <% end %>
       </div>
       <div class="tab-pane" id="winners">
         No videos yet.         
       </div>
     </div>
   </div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>