<%= provide(:title, 'Watch') %>
<div id="mainContent">
  <%= render 'instructions'%>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="winnersPill"><a href="#winners"></a></li-->
       <li class="allVideosPill active">
         <a href="#" onclick="return false;"></a>
       </li>
       <li class="bestRatedPill">
		 <%= link_to "", rated_path %>
       </li>
       <li class="mostVotesPill">
  		 <%= link_to "", votes_path %>
       </li>
       <li class="mostPlaysPill">
		 <%= link_to "", views_path %>
       </li>
       <li class="mostSharesPill">
		 <%= link_to "", shares_path %>
       </li>
       <li class="searchVideosPill">
		 <%= link_to "", search_path %>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="all">
         <% if @videos_count > 0 %>
         <%= render partial: 'shared/video_tile', collection: @videos, as: :f %>
         <div class="clearfix"></div>
         <%= will_paginate @videos, param_name: 'all_videos' %>
         <% else %>
         No videos have been approved yet.
         <% end %>
       </div>
     </div>
   </div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>