<%= provide(:title, 'Watch') %>
<div id="mainContent">
  <%= render 'instructions'%>
  <div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <li class="winnersPill active">
         <a href="#" onclick="return false;"></a>
	   </li>
       <!-- <li class="allVideosPill active">
         <a href="#" onclick="return false;"></a>
       </li> -->
       <li class="bestRatedPill">
		 <%= link_to "", rated_path %>
       </li>
       <li class="mostVotesPill">
  		 <%= link_to "", votes_path %>
       </li>
       <li class="mostPlaysPill">
		 <%= link_to "", views_path %>
       </li>
       <li class="mostSharesPill">
		 <%= link_to "", shares_path %>
       </li>
       <li class="searchVideosPill">
		 <%= link_to "", search_path %>
       </li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="winners">
         <%= render partial: 'shared/video_tile', collection: @winners, as: :f %>
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
</div>
<%= render 'videos/video_modal' %>
<%= render "users/edit_video" %>
<div class="clearfix"></div>