<%= provide(:title, 'Watch') %>
<div id="mainContent">
	<div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="active winnersPill"><a href="#winners" data-toggle="tab"></a></li-->
       <li class="newVideosPill active"><a href="#new" data-toggle="tab"></a></li>
       <li class="mostViewsPill"><a href="#mostViews" data-toggle="tab"></a></li>
       <li class="mostVotesPill"><a href="#mostVotes" data-toggle="tab"></a></li>
       <li class="mostSharesPill"><a href="#mostShares" data-toggle="tab"></a></li>
       <li class="bestRatedPill"><a href="#bestRated" data-toggle="tab"></a></li>
       <li class="allVideosPill"><a href="#all" data-toggle="tab"></a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="new">
         <%= render 'shared/video_tile' %>
       </div>
       <div class="tab-pane" id="bestRated">
         <%= render 'shared/video_tile' %>
       </div>
       <div class="tab-pane" id="mostVotes">
         <%= render 'shared/video_tile' %>
       </div>
       <div class="tab-pane" id="mostViews">
         <%= render 'shared/video_tile' %>	
       </div>
       <div class="tab-pane" id="mostShares">
         <%= render 'shared/video_tile' %>         
       </div>
       <div class="tab-pane" id="all">
         <%= render 'shared/video_tile' %>
       </div>
       <div class="tab-pane" id="winners">
         No videos yet.         
       </div>
     </div>
   </div>
</div>
<div id="videoModal">
	<video id="videoPlayer" width="720" height="405" class="video-js vjs-default-skin active"
	  controls autoplay preload="auto" data-setup='{}'>
    <source src="" type="video/mp4">
	  <source src="" type="video/webm">
  </video>
	<div class="close">&times;</div>
	<div class="videoLegend">
		<div class="video-name">
	  	<h1>Pet Safe Promo</h1>
	  </div>
	  <div class="video-info">
		  <%= link_to "Pet Safe", "#", class: "user_name" %>
	    <span class="user_location">Knoxville, TN</span>
	  </div>
	</div>
	<div class="video-icons" style="float:right;margin-top:5px;">
		<ul>
      <li><%= render 'shared/icons/category' %></li>
      <li><%= render 'shared/icons/rank' %></li>
      <li><%= render 'shared/icons/time' %></li>
      <li><%= render 'shared/icons/vote' %></li>
      <li><%= render 'shared/icons/view' %></li>
      <li><%= render 'shared/icons/share' %></li>
    </ul>
	</div>
</div>
<div class="clearfix"></div>