<div class="video-tile">
  <div class="tile-photo">
    <%= link_to image_tag("https://s3.amazonaws.com/smvideocontest/assets/videos/PetSafePromo.jpg"), "PetSafePromo" %>
  </div>
  <div class="video-icons">
    <ul>
      <li><%= render 'shared/icons/category' %></li>
      <li><%= render 'shared/icons/rank' %></li>
      <li><%= render 'shared/icons/time' %></li>
      <li><%= render 'shared/icons/vote' %></li>
      <li><%= render 'shared/icons/view' %></li>
      <li><%= render 'shared/icons/share' %></li>
    </ul>
  </div> 
  <div class="video-name">
  	<h1>Pet Safe Promo</h1>
  </div>
  <div class="video-info">
	  <%= link_to "Pet Safe", "#", class: "user_name" %>
    <span class="user_location">Knoxville, TN</span>
  </div>
</div>