<% if signed_in? && Vote.where(video_id: f.id, user_id: current_user.id).count > 0 && Vote.where(video_id: f.id, user_id: current_user.id).last.created_at > 1.day.ago %>
<div class="video-tile" data-video-id="<%= f.id %>"
	data-vote-check="<%= distance_of_time_in_words(DateTime.current,Vote.where(video_id: f.id, user_id: current_user.id).last.created_at.to_datetime + 1.day) %>"
    data-vote-value="<%= Vote.where(video_id: f.id, user_id: current_user.id).last.value %>"
>
<% else %>
<div class="video-tile" data-video-id="<%= f.id %>" >
<% end %>
  <div class="tile-photo">
  <% if f.panda_video.encodings["thumbnail"].status == "success" && f.h264.status == "success" && f.webm.status == "success" %>
    <% if f.approved == true || (params[:controller] == 'videos' and params[:action] == 'index') %>
    <%= link_to image_tag(f.thumbnail.screenshots.first, height: "169"), "#", class: "video_link", data: {mp4: "#{f.h264.url}", webm: "#{f.webm.url}"} %>
    <% else %>
    <div class="comingSoon">
      <p>You can watch this video once it is <%= link_to "approved", "/rules#requirements" %>.</p>
    </div>
    <%= image_tag(f.thumbnail.screenshots.first, height: "169") %>
    <% end %>
  <% else %>
    <div class="processing">
      <p>Processing <%= f.thumbnail.status == "processing" ? "thumbnail..." : "video..." %><br>
        Please reload the page in a few minutes.</p>
    </div>
  <% end %>
  <% if f.created_at >= 1.week.ago %>
    <div class="videoTile newIcon"></div>
  <% end %>
  <% if [84,103,112,167,187,205,108,23,253,221].include?(f.id) %>
  <div id="vote" style="position:absolute;top:5px;left:3px;width:35px;">
    <div class="star-rating star-rating-on" style="color:#fdd01c;font-weight:bold;text-align:center;line-height:16px;font-size:18px;text-transform:uppercase;">
    	<% if f.id == 108 %>
		1<span style="vertical-align:super;font-size:11px;">st</span>
		<% elsif f.id == 253 %>
		2<span style="vertical-align:super;font-size:11px;">nd</span>
		<% elsif f.id == 187 %>
		3<span style="vertical-align:super;font-size:11px;">rd</span>
		<% end %>
    </div>
  </div>
  <% end %>
  <% if params[:controller] == 'videos' and params[:action] == 'index' %>
    <div class="adminApproval">
    <% if f.approved == false %>
      <%= render 'videos/approve', f: f %>
    <% else %>
      <%= render 'videos/unapprove', f: f %>
    <% end %>
    </div>
    <div class="adminDelete">
      <%= link_to "Delete", f, method: :delete, class: "btn btn-header btn-admin" %>
    </div>
  <% end %>
  </div>
  <div class="video-icons">
    <ul>
      <li><%= render 'shared/icons/category', f: f %></li>
      <li><%= render 'shared/icons/rating', f: f %></li>
      <li><%= render 'shared/icons/time', f: f %></li>
      <li><%= render 'shared/icons/vote', f: f %></li>
      <li><%= render 'shared/icons/play', f: f %></li>
      <li><%= render 'shared/icons/share', f: f %></li>
    </ul>
  </div>
  <div class="video-name">  
    <h1><%= f.title %></h1>
    <% if signed_in? && (current_user == @user || current_user.admin?) %>
    <div class="videoEdit">
    <%= link_to "Edit", "javascript;", class: "btn btn-header btn-admin" %>
    <%= simple_form_for(f, remote: true) do |p| %>
      <%= p.hidden_field :title, label: false %>
      <%= p.button :submit, "Save", class: "hiddenBtn" %>
    <% end %>
  </div> 
    <% end %>
  </div>
  <div class="video-info">
	<% if f.user %>
      <%= link_to "#{f.user.name}", f.user, class: "user_name" %>
      <span class="user_location"><%= f.user.city %>, <%= f.user.state %></span>
	<% else %>
	  <%= link_to "Shelter Me", "#", class: "user_name" %>
	<% end %>
  </div>
</div>