<div class="tab-pane" id="comdeyNav">
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/The_Sunset_Groove_edit.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/The_Sunset_Groove_edit.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">The Sunset Groove edit</div>
		<div class="trackLength">02:14</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/audio/KON_the_sunset_groove_edit.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/Go_Guido_Go.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/Go_Guido_Go.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Go Guido Go</div>
		<div class="trackLength">00:49</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/audio/KON_go_guido_go.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/Nervous_Parts_v1.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/Nervous_Parts_v1.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Nervous Parts v1</div>
		<div class="trackLength">01:20</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/audio/KON_nervous_parts_v1.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/An_Act_of_Balance_v1_(Bigger).mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/An_Act_of_Balance_v1_(Bigger).ogg" type="audio/ogg">
		</audio>
		<div class="trackName">An Act of Balance v1 (Bigger)</div>
		<div class="trackLength">01:03</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/audio/KON_an_act_of_balance_v1.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/A_Dogs_Tale.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/assets/audio/A_Dogs_Tale.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">A Dog's Tale</div>
		<div class="trackLength">01:01</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/audio/KON_a_dogs_tale.zip", class: "downloadLink" %>
	</div>
</div>