<div class="tab-pane" id="comedyNav">
	<div id="comedy_1" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="comedy_player_1" data-media="The_Sunset_Groove_edit" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">The Sunset Groove edit</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>02:14
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_the_sunset_groove_edit.zip", class: "downloadLink" %>
	</div>
	<div id="comedy_2" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="comedy_player_2" data-media="Go_Guido_Go" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Go Guido Go</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>00:49
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_go_guido_go.zip", class: "downloadLink" %>
	</div>
	<div id="comedy_3" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="comedy_player_3" data-media="Nervous_Parts_v1" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Nervous Parts v1</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:20
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_nervous_parts_v1.zip", class: "downloadLink" %>
	</div>
	<div id="comedy_4" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="comedy_player_4" data-media="An_Act_of_Balance_v1_(Bigger)" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">An Act of Balance v1 (Bigger)</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:03
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_an_act_of_balance_v1.zip", class: "downloadLink" %>
	</div>
	<div id="comedy_5" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="comedy_player_5" data-media="A_Dogs_Tale" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">A Dog's Tale</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:01
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_a_dogs_tale.zip", class: "downloadLink" %>
	</div>
</div>