<div class="tab-pane" id="reflectiveNav">
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Til_We_Meet_Again.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Til_We_Meet_Again.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Til We Meet Again</div>
		<div class="trackLength">02:41</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_til_we_meet_again.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Song_of_Five.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Song_of_Five.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Song of Five</div>
		<div class="trackLength">01:24</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_song_of_five.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Missed_Kiss_v2.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Missed_Kiss_v2.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Missed Kiss v2</div>
		<div class="trackLength">01:03</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_missed_kiss_v2.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Far_Away.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Far_Away.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Far Away</div>
		<div class="trackLength">02:27</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_far_away.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Life_Thereafter.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Life_Thereafter.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Life Thereafter</div>
		<div class="trackLength">01:17</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_life_thereafter.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Dream_Of_Return.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Dream_Of_Return.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Dream of Return</div>
		<div class="trackLength">02:31</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_dream_of_return.zip", class: "downloadLink" %>
	</div>
</div>