<div class="tab-pane" id="reflectiveNav">
  <div id="reflective_1" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_1" data-media="Til_We_Meet_Again" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Til We Meet Again</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>02:41
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_til_we_meet_again.zip", class: "downloadLink" %>
	</div>
	<div id="reflective_2" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_2" data-media="Song_of_Five" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Song of Five</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:24
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_song_of_five.zip", class: "downloadLink" %>
	</div>
	<div id="reflective_3" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_3" data-media="Missed_Kiss_v2" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Missed Kiss v2</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:03
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_missed_kiss_v2.zip", class: "downloadLink" %>
	</div>
	<div id="reflective_4" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_4" data-media="Far_Away" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Far Away</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>02:27
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_far_away.zip", class: "downloadLink" %>
	</div>
	<div id="reflective_5" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_5" data-media="Life_Thereafter" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Life Thereafter</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:17
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_life_thereafter.zip", class: "downloadLink" %>
	</div>
	<div id="reflective_6" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
	    <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
	    <div id="reflective_player_6" data-media="Dream_Of_Return" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Dream of Return</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>02:31
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_dream_of_return.zip", class: "downloadLink" %>
	</div>
</div>