<div class="tab-pane active" id="upbeatNav">
	<div id="upbeat_1" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_1" data-media="Weekend_With_The_King" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Weekend with the King</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:14
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_weekend_with_the_king.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_2" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_2" data-media="Who_Do_You_Like_GtrShake" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Who Do You Like (GtrShake)</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>00:33
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_who_do_you_like_gtrshake.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_3" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_3" data-media="Two_Way_Street" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Two Way Street</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>02:18
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_two_way_street.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_4" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_4" data-media="Stitches_v2" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Stitches v2</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:14
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_stitches_v2.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_5" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_5" data-media="Next_Generation" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Next Generation</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>03:34
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_next_generation.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_6" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_6" data-media="Arrival_v1" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Arrival v1</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:00
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_arrival_v1.zip", class: "downloadLink" %>
	</div>
	<div id="upbeat_7" class="audioTrack">
		<div class="audioControls">
			<a href="javascript:;" class="audioPlay" style="display: block;"><i class="icon-play icon-white"></i></a>
      <a href="javascript:;" class="audioPause" style="display: none;"><i class="icon-pause icon-white"></i></a>
      <div id="upbeat_player_7" data-media="Hit_The_Pavement_60" class="jplayer" style="width: 0px; height: 0px;"></div>
		</div>
		<div class="trackName">Hit the Pavement 60</div>
		<div class="trackLength">
			<div class="trackCurrentTime"><div class="trackTimer">00:00</div> / </div>01:20
		</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_hit_the_pavement_60.zip", class: "downloadLink" %>
	</div>
</div>