<div class="tab-pane active" id="upbeatNav">
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Weekend_With_The_King.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Weekend_With_The_King.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Weekend with the King</div>
		<div class="trackLength">01:14</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_weekend_with_the_king.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Who_Do_You_Like_GtrShake.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Who_Do_You_Like_GtrShake.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Who Do You Like (GtrShake)</div>
		<div class="trackLength">00:33</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_who_do_you_like_gtrshake.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Two_Way_Street.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Two_Way_Street.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Two Way Street</div>
		<div class="trackLength">02:18</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_two_way_street.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Stitches_v2.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Stitches_v2.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Stitches v2</div>
		<div class="trackLength">01:14</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_stitches_v2.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Next_Generation.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Next_Generation.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Next Generation</div>
		<div class="trackLength">03:34</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_next_generation.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Arrival_v1.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Arrival_v1.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Arrival v1</div>
		<div class="trackLength">01:00</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_arrival_v1.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Hit_The_Pavement_60.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Hit_The_Pavement_60.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Hit the Pavement 60</div>
		<div class="trackLength">01:20</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_hit_the_pavement_60.zip", class: "downloadLink" %>
	</div>
</div>