<div class="tab-pane" id="upliftingNav">
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Young_and_Old.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Young_and_Old.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Young and Old</div>
		<div class="trackLength">02:06</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_young_and_old.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Travelers.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Travelers.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Travelers</div>
		<div class="trackLength">01:10</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_travelers.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Touching_The_Sky.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Touching_The_Sky.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Touching the Sky</div>
		<div class="trackLength">03:54</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_touching_the_sky.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Shine_On.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Shine_On.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Shine On</div>
		<div class="trackLength">00:55</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_shine_on.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Parachutes_v1.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Parachutes_v1.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Parachutes v1</div>
		<div class="trackLength">01:33</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_parachutes_v1.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Letter_Number_1.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Letter_Number_1.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Letter Number 1</div>
		<div class="trackLength">02:19</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_letter_number_1.zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Bubbles_(NoVox).mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/Bubbles_(NoVox).ogg" type="audio/ogg">
		</audio>
		<div class="trackName">Bubbles (NoVox)</div>
		<div class="trackLength">01:19</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_bubbles_(novox).zip", class: "downloadLink" %>
	</div>
	<div class="audioTrack">
		<audio controls style='text-align:left;'>
			<source src="http://smvideocontest.s3.amazonaws.com/audio/As_They_Slept.mp3" type="audio/mpeg">
			<source src="http://smvideocontest.s3.amazonaws.com/audio/As_They_Slept.ogg" type="audio/ogg">
		</audio>
		<div class="trackName">As They Slept</div>
		<div class="trackLength">01:05</div>
		<%= link_to "download", "http://smvideocontest.s3.amazonaws.com/audio/KON_as_they_slept.zip", class: "downloadLink" %>
	</div>
</div>