<div class="tab-pane" id="catClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0046CN02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0046CN02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0046CN02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0046CN03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0046CN03", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0046CN03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0046CN04.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0046CN04", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0046CN04.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0046CN05.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0046CN05", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0046CN05.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0005RA01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0005RA01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0005RA01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0005RK01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0005RK01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0005RK01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0006O201.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0006O201", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0006O201.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0007DP01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0007DP01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0007DP01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00041Y01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00041Y01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00041Y01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00041Y02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00041Y02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00041Y02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0041ZH01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0041ZH01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0041ZH01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0042FL01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0042FL01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0042FL01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0043KB01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0043KB01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0043KB01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0043KB02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0043KB02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0043KB02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0044DE01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0044DE01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0044DE01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0044DE02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0044DE02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0044DE02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0045WI01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0045WI01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0045WI01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0045WI02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0045WI02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0045WI02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0046CN01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0046CN01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0046CN01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00030801.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00030801", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00030801.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00401801.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00401801", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00401801.zip", class: "downloadLink" %>
	</div>
</div>