<div class="tab-pane" id="dogClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0018H901.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0018H901.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0018H901.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0019J901.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0019J901.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0019J901.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0022D301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0022D301.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0022D301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0031A201.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0031A201.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0031A201.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0032RL01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0032RL01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0032RL01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0033GX01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0033GX01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0033GX01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0034C001.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0034C001.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0034C001.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0034C002.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0034C002.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0034C002.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0145F801.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0145F801.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0145F801.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1049OS01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1049OS01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1049OS01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1050KA01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1050KA01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1050KA01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z502.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z502.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z502.zip", class: "downloadLink" %>
	</div>
</div>