<div class="tab-pane" id="dogShelterClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0035QA01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0035QA01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0035QA01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0049U501.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0049U501", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0049U501.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0050T601.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0050T601", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0050T601.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0052GP01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0052GP01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0052GP01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0055QG01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0055QG01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0055QG01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0151CF01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0151CF01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0151CF01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0151CF03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0151CF03", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0151CF03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0151CF05.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0151CF05", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0151CF05.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0160X001.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0160X001", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0160X001.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0160X002.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0160X002", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0160X002.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0162UN01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0162UN01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0162UN01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0164LR01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0164LR01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0164LR01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00243E02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00243E02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00243E02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00243E03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00243E03", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00243E03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00530S01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00530S01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00530S01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1061M901.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1061M901", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1061M901.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1063QQ01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1063QQ01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1063QQ01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1075ZH01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1075ZH01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1075ZH01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1075ZH02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1075ZH02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1075ZH02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1083FR01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1083FR01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1083FR01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1084LI01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1084LI01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1084LI01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1086M301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1086M301", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1086M301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1088AT01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1088AT01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1088AT01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1088AT02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1088AT02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1088AT02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1090V301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1090V301", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1090V301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1090V302.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1090V302", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1090V302.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1090V303.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1090V303", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1090V303.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1109KC01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1109KC01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1109KC01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/01550J01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "01550J01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/01550J01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00390101.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00390101", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00390101.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00481301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00481301", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00481301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00481302.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00481302", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00481302.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/00481303.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00481303", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/00481303.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/10762C01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10762C01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/10762C01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/10762C02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10762C02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/10762C02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/10779G01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10779G01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/10779G01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/10829U01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10829U01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/10829U01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/10781001.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10781001", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/10781001.zip", class: "downloadLink" %>
	</div>
</div>