<div class="tab-pane" id="dogShelterClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0035QA01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0035QA01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0035QA01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0049U501.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0049U501.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0049U501.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0050T601.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0050T601.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0050T601.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0052GP01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0052GP01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0052GP01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0055QG01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0055QG01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0055QG01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF03.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF05.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF05.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF05.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0160X001.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0160X001.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0160X001.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0160X002.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0160X002.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0160X002.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0162UN01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0162UN01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0162UN01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0164LR01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0164LR01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0164LR01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00243E02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00243E03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E03.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00530S01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00530S01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00530S01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1061M901.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1061M901.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1061M901.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1063QQ01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1063QQ01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1063QQ01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1075ZH02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1083FR01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1083FR01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1083FR01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1084LI01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1084LI01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1084LI01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1086M301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1086M301.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1086M301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1088AT02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1090V301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V301.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1090V302.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V302.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V302.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1090V303.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V303.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1090V303.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1109KC01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1109KC01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1109KC01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/01550J01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/01550J01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/01550J01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00390101.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00390101.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00390101.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00481301.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481301.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481301.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00481302.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481302.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481302.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00481303.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481303.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00481303.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10762C01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10762C01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10762C01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10762C02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10762C02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10762C02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10779G01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10779G01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10779G01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10829U01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10829U01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10829U01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10781001.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10781001.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10781001.zip", class: "downloadLink" %>
	</div>
</div>