<div class="tab-pane" id="familyClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0003EF01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0003EF01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0003EF01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0003EF02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0003EF02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0003EF02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0004YM01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0011B501.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0011B501", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0011B501.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0020NK01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0020NK01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0020NK01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0067MJ01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0067MJ01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0067MJ01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0151CF02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0167NX01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX05.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0167NX05", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX05.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00606W01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00606W01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00606W01.zip", class: "downloadLink" %>
	</div>
</div>