<div class="tab-pane" id="goingHomeClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0002GM01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0002GM01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0002GM01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/0004OA01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0004OA01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/0004OA01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/1120HN01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1120HN01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/1120HN01.zip", class: "downloadLink" %>
	</div>
</div>