<div class="tab-pane" id="peopleClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0004YM02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0006EB01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0006EB01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0006EB01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0011B502.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0011B502", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0011B502.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF04.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0151CF04", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF04.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0167NX03", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX03.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX04.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "0167NX04", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX04.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00229P01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00229P01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00229P01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00243E01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "00243E01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1058RC02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC02.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z501.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1118Z501", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z501.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10653S01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "10653S01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10653S01.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/11143L01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "11143L01", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/11143L01.zip", class: "downloadLink" %>
	</div>
</div>