<div class="tab-pane" id="peopleClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0004YM02.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0006EB01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0006EB01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0006EB01.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0011B502.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0011B502.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0011B502.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF04.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF04.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0151CF04.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX03.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX03.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX03.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX04.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX04.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/0167NX04.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00229P01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00229P01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00229P01.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/00243E01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/00243E01.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC02.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1058RC02.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z501.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z501.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1118Z501.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/10653S01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/10653S01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/10653S01.mov.zip", class: "downloadLink" %>
	</div>
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/11143L01.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/11143L01.mp4", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/11143L01.mov.zip", class: "downloadLink" %>
	</div>
</div>