<footer>  
  <div class="container">
    <div class="pull-left">
      <ul>
	      <li><%= link_to "Rules", rules_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
      </ul>
    </div>
    <div class="sponsorFooter">
    	<%= link_to "", "http://www.petsafe.net", target: "_blank" %>
    </div>
    <div class="pull-right">
      <%= link_to "", "http://www.shelterme.com", class: "navMain shelterMeLogo" %>
	    <%= link_to "", "https://www.facebook.com/ShelterMeTV", class: "navMain facebook social", target: "_blank" %>
	    <%= link_to "", "http://www.twitter.com/ShelterMeTV", class: "navMain twitter social", target: "_blank" %>
    </div>
  </div>
</footer>