<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= canonical_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if params[:controller] == 'static_pages' and params[:action] == 'home' %>
	  <%= yield %>
	<% else %>
  <div id="sm">
  <%= render 'layouts/header' %>   
  <%= render 'layouts/errors' %>
  <%= yield %>
    <div class="push"></div>
  </div>
  <%= render 'layouts/footer' %> 
  <% end %>
  <%= javascript_include_tag "application" %>
</body>
</html>
