<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= canonical_link_tag %>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <% if params[:controller] == 'videos' or params[:controller] == 'users' or (params[:controller] == 'static_pages' and params[:action] == 'home') %>
  <link href="http://vjs.zencdn.net/4.2.1/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/4.2.1/video.js"></script>
	<% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= render 'layouts/shim' %>
  <%= render 'layouts/open_graph'%>
</head>
<body onLoad="testCookies();">
	<% if params[:controller] == 'static_pages' and params[:action] == 'home' %>
	
	<%= yield %>
	
	<% else %>
  
  <div id="sm">
  <%= render 'layouts/header' %>   
  <%= render 'layouts/errors' %>
	  <div class="container" style="margin-top:40px;">
	  	<% unless (params[:controller] == 'videos' and params[:action] == 'index') || 
			(params[:controller] == 'users' and params[:action] == 'index') ||
			(params[:controller] == 'static_pages' and params[:action] == 'statistics')%>
		  <%= render 'static_pages/sidebar' %>
		  <% end %>
		
		  <%= yield %>
		
		  <div class="push"></div>
	  </div>
  </div>
  <%= render 'layouts/footer' %> 
  <% end %>
<%= javascript_include_tag "application" %>
<% if params[:controller] == 'users' && params[:action] == 'edit' %>
<%= cloudinary_js_config %>
<% end %>
<% if params[:controller] == 'videos' && params[:action] == 'addvideo' %>
<script src="//d21qbsp9m249bi.cloudfront.net/u/1.4/jquery.panda-uploader.min.js" type="text/javascript"></script> 
<!-- <script src="//cdn.pandastream.com/u/2.0/panda-uploader.min.js"></script> -->
<% end %>
<% if !Rails.env.development? %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36076402-1']);
	_gaq.push(['_setDomainName','shelterme.com']);
	_gaq.push(['_addIgnoredRef', 'shelterme.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<script type="text/javascript">  
	function testCookies() {  
	  document.cookie = "cookie_test=test;";  
	  var results = document.cookie.match ( '(^|;) ?cookie_test=([^;]*)(;|$)' );  
	  if (!results) // No cookies were set - The browser doesn't allow cookies.  
	    $('.cookieCheck').show(); 
	  else // Delete the cookie - It's no longer needed.  
	    document.cookie = "cookie_test=; expires=01/01/2001 00:00:00; path='/'";  
	}  
</script>
</body>
</html>
