<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= canonical_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
	<% if params[:controller] == 'static_pages' and params[:action] == 'home' %>
<body>
	<%= yield %>
	<% else %>
<body style="margin-top:38px;min-height:830px;">
  <div id="sm">
  <%= render 'layouts/header' %>   
  <%= render 'layouts/errors' %>
	  <div class="container">
		  <%= render 'static_pages/sidebar' %>
		  <%= yield %>
		  <div class="push"></div>
	  </div>
  </div>
  <%= render 'layouts/footer' %> 
  <% end %>
  <%= javascript_include_tag "application" %>
</body>
</html>
